@model IEnumerable<DockerMVC.Models.Employee>

@{
    ViewData["Title"] = "Listar Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar</h1>

<form asp-action="Listar">
<p>
    <a asp-action="Crear" class="btn btn-success">Create New</a>
    @Html.TextBox("filtro")
    <a asp-action_="Listar" class="btn btn-info" onclick="location.href='@Url.Action("Listar", "Home")?filtro='+$('#filtro').val()">Search</a>
    <!--
    <input type="button" class="btn btn-info" onclick="location.href='@Url.Action("Listar", "Home")?filtro='+$('#filtro').val()" value="Search" />
    -->

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <a asp-action="Detalle" asp-route-id="@item.Id" class="btn btn-warning">Details</a> 
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</form>